<!doctype html>
<html>
<head>
  <meta charset="{{encoding}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>{{title}}</title>
  <style type="text/css">
    {{{style}}}
  </style>
</head>
<body>
<iframe src="http://free.timeanddate.com/clock/i4fzuvlo/n179/fn7/fs20/fcfff/tct/pct/ftb/th2" frameborder="0" width="134" height="30" allowTransparency="true"></iframe>
<div class="reveal">
    <div class="slides">
      {{{slideshow}}}
    </div>
</div>
<script>
    {{{script}}}
</script>
</body>
</html>
