<!doctype html>
<html>
<head>
  <meta charset="{{encoding}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>{{title}}</title>
  <style type="text/css">
    {{{style}}}
  </style>
  <script type="text/javascript">
  function GetClock(){
  var d=new Date();
  var nhour=d.getHours(),nmin=d.getMinutes(),nsec=d.getSeconds(),ap;
  
       if(nhour==0){ap=" AM";nhour=12;}
  else if(nhour<12){ap=" AM";}
  else if(nhour==12){ap=" PM";}
  else if(nhour>12){ap=" PM";nhour-=12;}
  
  if(nmin<=9) nmin="0"+nmin;
  if(nsec<=9) nsec="0"+nsec;
  
  document.getElementById('clockbox').innerHTML=""+nhour+":"+nmin+":"+nsec+ap+"";
  }

  window.onload=function(){
  GetClock();
  setInterval(GetClock,1000);
  }
  </script>
</head>
<body>
<div id="clockbox" style="font:18pt Helvetica; color:#FFFFFF; position:fixed; top: 3px;"></div>
<div class="reveal">
    <div class="slides">
      {{{slideshow}}}
    </div>
</div>
<script>
    {{{script}}}
</script>
</body>
</html>
